:root{
    --background: #44475a;
    --foreground: #f8f8f2;
    --post: #6272a4;
    --red: #ff5555;
    --purple: #bd93f9;
}

body{
    font-family: 'Fira Sans Condensed', sans-serif;
    color: var(--foreground);
    padding: 15px;
    background: linear-gradient(403deg, #44475a 6.25%, #282a36 6.25%, #282a36 43.75%, #44475a 43.75%, #44475a 56.25%, #282a36 56.25%, #282a36 93.75%, #44475a 93.75%);
    background-size: 6px 6px;
    background-position: 50px 50px;
}

pre{
    overflow-x: auto;
}

.hero-text{
    font-size:60px;
}

.posts > li{
    list-style: none;
   margin-bottom:10px;
}

.posts > li > a{
    color: var(--foreground);
    text-decoration: none;
}

a{
    color: var(--purple);
    text-decoration: none;
}

.tag-post{
   background-color: var(--post);
   border-radius: 20px;
   padding: 4px;
   font-size: 12px;
   margin:2px;
   color: var(--foreground);
}

.main{
    background-color: #282a36;
    padding: 20px;
    border-radius: 20px;
}
