body{
	font-family: 'Fira Sans Condensed', sans-serif;
	overflow-x: hidden;
	color:#eee;
	background-color: rgba(33, 32, 34,.9);
	margin:0;
	padding:0;
}
#content{
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
}
.top > h1{
	padding-top:2%;
	font-size:80px;
}

#twitter,
#github{
	background-color:white;
	width:16px;
	height:16px;
	border-radius:200px;
	padding:1px;
}

@keyframes float {
	0% {
		transform: translatey(0px);
		filter: drop-shadow(2px 2px 4px #cdd);
	}
	50% {
		transform: translatey(-20px);
		filter: drop-shadow(2px 2px 3px #caa);
	}
	100% {
		transform: translatey(0px);
		filter: drop-shadow(2px 2px 4px #cdd);
	}
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
	position: fixed;
	z-index: -100;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(33,32,34,1);
    overflow: hidden;
}

.background span {
    width: 24vmin;
    height: 24vmin;
    border-radius: 24vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 20;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #ff9e9e;
    top: 17%;
    left: 19%;
    animation-duration: 71s;
    animation-delay: -109s;
    transform-origin: -9vw 19vh;
    box-shadow: 48vmin 0 6.202957587019547vmin currentColor;
}
.background span:nth-child(1) {
    color: #6c5159;
    top: 67%;
    left: 86%;
    animation-duration: 182s;
    animation-delay: -198s;
    transform-origin: 1vw 12vh;
    box-shadow: -48vmin 0 6.201601867962983vmin currentColor;
}
.background span:nth-child(2) {
    color: #ada5bb;
    top: 59%;
    left: 36%;
    animation-duration: 181s;
    animation-delay: -54s;
    transform-origin: 16vw -21vh;
    box-shadow: 48vmin 0 6.128393887897673vmin currentColor;
}
.background span:nth-child(3) {
    color: #ada5bb;
    top: 62%;
    left: 33%;
    animation-duration: 195s;
    animation-delay: -135s;
    transform-origin: -5vw 16vh;
    box-shadow: -48vmin 0 6.222777675755528vmin currentColor;
}
.background span:nth-child(4) {
    color: #ada5bb;
    top: 19%;
    left: 79%;
    animation-duration: 207s;
    animation-delay: -124s;
    transform-origin: 7vw 1vh;
    box-shadow: 48vmin 0 6.864274977859239vmin currentColor;
}
.background span:nth-child(5) {
    color: #ff9e9e;
    top: 86%;
    left: 58%;
    animation-duration: 94s;
    animation-delay: -143s;
    transform-origin: 12vw 1vh;
    box-shadow: -48vmin 0 6.318825771489889vmin currentColor;
}
.background span:nth-child(6) {
    color: #6c5159;
    top: 94%;
    left: 68%;
    animation-duration: 16s;
    animation-delay: -252s;
    transform-origin: 7vw -14vh;
    box-shadow: 48vmin 0 6.034196448792588vmin currentColor;
}
.background span:nth-child(7) {
    color: #ada5bb;
    top: 32%;
    left: 30%;
    animation-duration: 260s;
    animation-delay: -98s;
    transform-origin: -18vw -4vh;
    box-shadow: -48vmin 0 6.193185148540813vmin currentColor;
}
.background span:nth-child(8) {
    color: #6c5159;
    top: 58%;
    left: 55%;
    animation-duration: 152s;
    animation-delay: -137s;
    transform-origin: 12vw -8vh;
    box-shadow: -48vmin 0 6.185830328520367vmin currentColor;
}
.background span:nth-child(9) {
    color: #ada5bb;
    top: 19%;
    left: 46%;
    animation-duration: 40s;
    animation-delay: -117s;
    transform-origin: 6vw -15vh;
    box-shadow: -48vmin 0 6.059501617584046vmin currentColor;
}
.background span:nth-child(10) {
    color: #6c5159;
    top: 32%;
    left: 84%;
    animation-duration: 188s;
    animation-delay: -85s;
    transform-origin: -6vw -9vh;
    box-shadow: 48vmin 0 6.5792506610082855vmin currentColor;
}
.background span:nth-child(11) {
    color: #ff9e9e;
    top: 77%;
    left: 68%;
    animation-duration: 300s;
    animation-delay: -269s;
    transform-origin: 12vw 24vh;
    box-shadow: -48vmin 0 6.460147764266658vmin currentColor;
}
.background span:nth-child(12) {
    color: #ff9e9e;
    top: 59%;
    left: 62%;
    animation-duration: 12s;
    animation-delay: -181s;
    transform-origin: -24vw -7vh;
    box-shadow: 48vmin 0 6.213990377048821vmin currentColor;
}
.background span:nth-child(13) {
    color: #ada5bb;
    top: 69%;
    left: 10%;
    animation-duration: 84s;
    animation-delay: -4s;
    transform-origin: 6vw 10vh;
    box-shadow: 48vmin 0 6.905615423965078vmin currentColor;
}
.background span:nth-child(14) {
    color: #ff9e9e;
    top: 11%;
    left: 40%;
    animation-duration: 228s;
    animation-delay: -164s;
    transform-origin: 6vw -23vh;
    box-shadow: 48vmin 0 6.981779743683522vmin currentColor;
}
.background span:nth-child(15) {
    color: #ff9e9e;
    top: 1%;
    left: 22%;
    animation-duration: 102s;
    animation-delay: -100s;
    transform-origin: -19vw 0vh;
    box-shadow: -48vmin 0 6.100609718825689vmin currentColor;
}
.background span:nth-child(16) {
    color: #6c5159;
    top: 95%;
    left: 6%;
    animation-duration: 242s;
    animation-delay: -273s;
    transform-origin: -6vw -4vh;
    box-shadow: -48vmin 0 6.7689346018786205vmin currentColor;
}
.background span:nth-child(17) {
    color: #ff9e9e;
    top: 85%;
    left: 11%;
    animation-duration: 220s;
    animation-delay: -135s;
    transform-origin: 12vw -21vh;
    box-shadow: -48vmin 0 6.859319977490644vmin currentColor;
}
.background span:nth-child(18) {
    color: #ff9e9e;
    top: 100%;
    left: 2%;
    animation-duration: 127s;
    animation-delay: -219s;
    transform-origin: 18vw -1vh;
    box-shadow: -48vmin 0 6.26956640488993vmin currentColor;
}
.background span:nth-child(19) {
    color: #ada5bb;
    top: 32%;
    left: 36%;
    animation-duration: 13s;
    animation-delay: -217s;
    transform-origin: -3vw 16vh;
    box-shadow: -48vmin 0 6.243459761987675vmin currentColor;
}
.background span:nth-child(20) {
    color: #6c5159;
    top: 46%;
    left: 63%;
    animation-duration: 180s;
    animation-delay: -128s;
    transform-origin: 21vw -7vh;
    box-shadow: -48vmin 0 6.205677095496593vmin currentColor;
}
.background span:nth-child(21) {
    color: #6c5159;
    top: 9%;
    left: 28%;
    animation-duration: 72s;
    animation-delay: -177s;
    transform-origin: 18vw 10vh;
    box-shadow: -48vmin 0 6.870540578171184vmin currentColor;
}
.background span:nth-child(22) {
    color: #ff9e9e;
    top: 75%;
    left: 91%;
    animation-duration: 125s;
    animation-delay: -167s;
    transform-origin: 0vw -2vh;
    box-shadow: -48vmin 0 6.292969258585168vmin currentColor;
}
.background span:nth-child(23) {
    color: #ada5bb;
    top: 67%;
    left: 66%;
    animation-duration: 217s;
    animation-delay: -58s;
    transform-origin: 12vw 25vh;
    box-shadow: 48vmin 0 6.0433334474877345vmin currentColor;
}
.background span:nth-child(24) {
    color: #6c5159;
    top: 83%;
    left: 1%;
    animation-duration: 8s;
    animation-delay: -237s;
    transform-origin: -18vw 13vh;
    box-shadow: 48vmin 0 6.361273258437148vmin currentColor;
}
.background span:nth-child(25) {
    color: #ada5bb;
    top: 29%;
    left: 5%;
    animation-duration: 240s;
    animation-delay: -267s;
    transform-origin: -14vw -24vh;
    box-shadow: 48vmin 0 6.253816538960341vmin currentColor;
}

.top{
	text-align:center;
	height:100vh;
}

#aly{
	filter: drop-shadow(2px 2px 4px #cbb);
	animation: float 4s ease-in-out infinite;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

#about{
	margin-top:40px;
	text-align:center;
	background-color: rgba(33,32,34,.8);
	backdrop-filter: blur(10px);
}

.info > h2{
	font-size:50px;
}
.info > ul{
	list-style-type:none;
	text-align:left;
	padding-left:15%;
	padding-right:15%;
}

.info > img{
	width:12%;
	border-radius: 200px;
}

.skills-bar{
    margin:10px;
    text-align:left;
    width:45%;
    border-radius:10px;
    padding:15px 20px;
}

.skills-bar .bar{
    margin: 20px 0;
}

.skills-bar .bar:first-child{
    margin-top: 0px;
}
.skills-bar .bar .info{
    margin-bottom:5px;
}
.skills-bar .bar .info span{
    font-size:170x;
    font-weight:500;
}
.skills-bar .bar .progress-line{
    position:relative;
    height:10px;
    width:100%;
    background:#eee;
	border-radius:10px;
}


.skills-bar .bar .progress-line span{
    height:100%;
    width:80%;
    background:#46c6e4;
    position:absolute;
    border-radius:10px;
}
.skills-bar .bar .progress-line.html span{
    width:85%;
}
.skills-bar .bar .progress-line.cpp span{
    width:65%;
}
.skills-bar .bar .progress-line.python span{
    width:90%;
}
.skills-bar .bar .progress-line.sh span{
    width:65%;
}
.skills-bar .bar .progress-line.js span{
    width:70%;
}
.skills-bar .bar .progress-line span::before{
    position:absolute;
    content:"";
    right:0;
    top:-10px;
    height:0;
    width:0;
    border:7px solid transparent;
    border-bottom-width:0px;
    border-right-width:0px;
    border-top-color:#000;
}

.skills-bar .bar .progress-line span::after{
    position:absolute;
    right:0;
    top:-22px;
    background:#000;
    color:#fff;
    font-weight:500;
    font-size:12px;
    padding: 1px 8px;
    border-radius:3px;

}
.skills-bar .bar .progress-line.html span::after{
    content:"85%";
}
.skills-bar .bar .progress-line.cpp span::after{
    content:"65%";
}
.skills-bar .bar .progress-line.python span::after{
    content:"90%";
}
.skills-bar .bar .progress-line.sh span::after{
    content:"65%";
}
.skills-bar .bar .progress-line.js span::after{
    content:"70%";
}


nav {
	margin:0 auto;
    width:100%;
    height:auto;
	background-color:rgba(33, 32, 34, .8);
	backdrop-filter: blur(10px);
	position: fixed;
	top:0;
	width:100%;
	z-index:10;
}


nav a {
    color: #eee;
}

nav li li{
    font-size:12px;
}

nav a:hover{
    color:#ddd;
}
nav ul {
	margin:0;padding:0;
    list-style-type:none;
    float:left;
    display:inline-block;
}

nav ul li {
	position:relative;
	margin:0 15px 0 0;
	float:left;
    display:inline-block;
}

nav li > a:after { content: ' »'; } /* Change this in order to change the Dropdown symbol */

nav li > a:only-child:after { content: ''; }

nav ul li a {
	padding:20px;
    display:inline-block;
    color:white;
    text-decoration:none;
}

nav ul li a:hover {
  opacity:0.5;
}

nav ul li ul {
	display:none;
    position:absolute;
    left:0;
	background-color:rgba(33, 32, 34, .8);
    float:left;
}

nav ul li ul li {
	width:100%;
    border-bottom:1px solid rgba(255,255,255,.3);
}

nav ul li:hover ul {
    display:block;
}


.container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card{
	position:relative;
	background-color: #eee;
	width:270px;
	height: 360px;
	margin:10px;
	border-radius:15px;
}

.card-image{
	height:170px;
	margin-bottom:15px;
	background-size:cover;
	border-radius: 15px 15px 0 0;
}

.car-1{
	background-image: url('img/project1.png');
	background-size: cover;
}
.car-2{
	background-image: url('img/project2.png');
	background-size:cover;
}
.car-3{
	background-image: url('img/project3.png');
}
.car-4{
	background-image: url('img/project4.png');
	background-color:#eee;
	background-size: contain;
	background-repeat:no-repeat;
}

.card h2{
	font-size:20px;
}
.card p{
	padding:10px;
	font-size:18px;
}

.container a{
	text-decoration:none;
	margin:0;
	padding:0;
	color:#222;
}

.container a:hover{
	color:#222;
}

.card:hover{
	color:#eee;
	background-color: rgba(33,32,34, .6);
	transform: scale(1.03);
	transition: all .2s ease;
}
.contact{
    text-align:center;
    width:70vw;
    border-radius:10px;
	margin-bottom:40px;
}
.enter{
    display:flex;
    flex-direction: column;
    justify-content:center;
	align-items:center;
}
.enter input,
.enter textarea{
	border: 1px solid #222;
    margin:auto;
    padding:10px;
    border-radius:8px;
	margin:4px;
    width:450px;
}

.enter textarea{
    height:200px;
}
button{
    background:rgba(0,0,0,0);
    padding:10px;
    width:100px;
    border-radius:10px;
    color:#ddd;
    border:none;
    font-family: 'Fira Sans Condensed', sans-serif;
}

button:hover{
    background:#222;
    color:#fff;
    transition:.5s;
}

footer{
	margin:30px;
	font-size: 20px;
	text-shadow: 2px 2px 5px #222;
	color:rgba(240,240,240,0.9);
}

footer > ul{
	list-style: none;
}

a{
	color:bisque;
	text-decoration: none;
}

a:hover{
	color:darksalmon;
}

.line-1{
    width: 24em;
    margin: 0 auto;
	margin-bottom:40px;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.top h2{
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #333, #fff, #333);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@media screen and (max-width: 450px){

    p{
        font-size: 14px;
    }

    .top > h2{
        font-size: 1.5em;
    }
    
    #aly{
        margin-top: 60px;
        width:92%;
    }

	.info > h2{
		font-size:30px;
	}

    .info span{
        font-size: 12px;
    }

	.info > ul{
		list-style-type:none;
		text-align:left;
		padding-left:10%;
		padding-right:10%;
	}
	.info > li{
		font-size:8px;
	}

	.info > img{
		width:8%;
		border-radius: 200px;
	}

    nav{
        font-size:11px;
    }

    .enter input,
    .enter textarea{
        width:300px;
    }

    .top > h1{
        font-size:60px;
        margin:80px;
    }

    .skills-bar{
        width:65%;
    }

    footer{
        font-size:15px;
    }

}

@media screen and (max-width: 400px){
    #aly{
        margin-top: 45px;
        width:80%;
    }
    .top h1{
        font-size: 40px;
    }
    .top > h2{
        font-size: 1.25em;
    }
    nav{
        font-size:10px;
    }
}
