body{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
}

@media only screen and (max-width: 1400px){
	.hero-text{
		font-size:45px;
	}
	h1{
		font-size: 80px;
	}

	.circle3 img,
	.circle2 img,
	.circle1 img{
		width:55%;
		height:55%;
	}
	.circle1,
	.circle2,
	.circle1{
		font-size:8px;
	}
}
@media only screen and (max-width: 1100px){
	.hero-text{
		font-size:35px;
	}
	h1{
		font-size: 70px;
	}
}
@media only screen and (max-width: 850px){
	.hero-text{
		font-size:30px;
	}
	h1{
		font-size: 60px;
	}
}

//#toggleButton{
//	position:fixed;
//	top:0;
//	right:0;
//	height:50px;
//	width:50px;
//}
//
//#toggleButton:hover{
//	background:none;
//	transition:.2s;
//}
section{
    text-align:center;
}

footer{
    height:250px;
    width:100vw;
    max-width:100%;
    background-color:#4be6cc;
    margin-top:80px;
    position:relative;
    z-index:10;
}


.hero{
    background:url('./img/hero.jpg') no-repeat;
    background-size:cover;
    height:100vh;
    color:white;
    font-size:60px;
    font-weight:500;
}

nav{
    display:flex;
    justify-content:left;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    width:15%;
    background-color:#ffffff;
    height: 100%;
    position:fixed;
    overflow:auto;
    z-index:5;

}
li{
    margin:1%;
}
ul{
    list-style-type: none;
}
li a{
    font-size:30px;
    color:black;
    display:block;
    padding:8px 0px;
    text-decoration:none;
    text-align:center;
}

.footer{
    color:white;
}

.footer a{
    color:white;
    text-decoration: underline;
}
.active {
    background-color: #04AA6D;
    color: white;
}

h1{
    font-size:90px;
    font-weight:800;
    color:white;
    text-shadow: 1px 1px 2px black;
}

h2{
    font-size:45px;
    margin-left:5%;
}

.hero-text{
    margin-left:55%;

}

.wrapper{
    box-sizing:content-box;
    height:70px;
    padding:50px 30px;
    display:flex;
}

.words{
    overflow:hidden;
}
.animate{
    display:block;
    height:100%;
    text-shadow: 1px 1px 2px black;
    animation:spin_words 8s infinite;
}

@keyframes spin_words {
   100%{
       transform:translateY(-112%);
   }
   25%{
       transform:translateY(-100%);
   }
   35%{
       transform:translateY(-212%);
   }
   50%{
       tranform:translateY(-200%);
   }
   60%{
       transform:translateY(-312%);
   }
   75%{
       transform:translateY(-300%);
   }
   85%{
       transform:translateY(-412%);
   }
   100%{
       transform:translateY(-400%);
   }
}

.grid{
    margin-left:5%;
    display:grid;
    height:100%;
    place-items:center;
}
.skills-bar{
    margin:10px;
    text-align:left;
    width:600px;
    border-radius:10px;
    padding:15px 30px;
}
.whoami{

    text-align:left;
    width:600px;
    background:#fff;
    border-radius:10px;
    padding:15px 30px;
    box-shadow:5px 5px 10px rgba(0,0,0,0.2);
}
.contact{

    text-align:center;
    width:600px;
    margin:20px;
    background:#fff;
    border-radius:10px;
    padding:15px 30px;
    box-shadow:5px 5px 10px rgba(0,0,0,0.2);
}

.enter{
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin:10px;
}
.enter input,
.enter textarea{
    border:1px solid black;
    margin:5px;
    padding:10px;
    border-radius:8px;
    width:400px;
}

.enter textarea{
    height:200px;
}

button{
    background:rgba(0,0,0,0);
    padding:10px;
    width:100px;
    border-radius:10px;
    color:black;
    border:none;
    font-family: 'Fira Sans Condensed', sans-serif;
}

button:hover{
    background:rgb(36, 220, 202);
    color:white;
    transition:.5s;
}

.content{
    display:grid;
    place-items:center;
    height:100%;
}

.pfp{
    width:20%;
    border-radius:80px;
}
.skills-bar .bar{
    margin: 20px 0;
}

.skills-bar .bar:first-child{
    margin-top: 0px;
}
.skills-bar .bar .info{
    margin-bottom:5px;
}
.skills-bar .bar .info span{
    font-size:170x;
    font-weight:500;
}
.skills-bar .bar .progress-line{
    position:relative;
    height:10px;
    width:100%;
    background:#f0f0f0;
    box-shadow:inset 0px 1px 1px rgba(0,0,0,0.05),
                     0px 1px rgba(255,255,255,0.8);
}


.skills-bar .bar .progress-line span{
    height:100%;
    width:80%;
    background:#46c6e4;
    position:absolute;
    border-radius:10px;
}
.skills-bar .bar .progress-line.html span{
    width:85%;
}
.skills-bar .bar .progress-line.cpp span{
    width:65%;
}
.skills-bar .bar .progress-line.python span{
    width:90%;
}
.skills-bar .bar .progress-line.sh span{
    width:80%;
}
.skills-bar .bar .progress-line.js span{
    width:70%;
}
.skills-bar .bar .progress-line span::before{
    position:absolute;
    content:"";
    right:0;
    top:-10px;
    height:0;
    width:0;
    border:7px solid transparent;
    border-bottom-width:0px;
    border-right-width:0px;
    border-top-color:#000;
}
.skills-bar .bar .progress-line span::after{
    position:absolute;
    right:0;
    top:-22px;
    background:#000;
    color:#fff;
    font-weight:500;
    font-size:12px;
    padding: 1px 8px;
    border-radius:3px;

}
.skills-bar .bar .progress-line.html span::after{
    content:"85%";
}
.skills-bar .bar .progress-line.cpp span::after{
    content:"65%";
}
.skills-bar .bar .progress-line.python span::after{
    content:"90%";
}
.skills-bar .bar .progress-line.sh span::after{
    content:"80%";
}
.skills-bar .bar .progress-line.js span::after{
    content:"70%";
}

a{
    text-decoration:none;
}

.blobs{
    margin-left:7%;
    display:flex;
    justify-content:center;
    padding:20px;
    height:70vh;
}

.circle1,
.circle2,
.circle3{
    color:#fff;
    padding:5%;
    width:180px;
    height:180px;
    margin: 0 -15px;
    position:relative;
    z-index:50;
    mix-blend-mode:multiply;
}


.circle1 img,
.circle2 img,
.circle3 img{
    border-radius: 50% 50% 50% 70%/50%  50% 70% 60%;
    margin-top:-60px;
    width:70%;
    height:70%;
}
.circle1{
    font-size:14px;
    background:#4be6cc;
    animation:move 7s forwards ease infinite alternate-reverse;
    transition:ease 1s;
    border-radius: 50% 50% 50% 70%/50%  50% 70% 60%;
}
.circle2{
    font-size:14px;
    background:#5fd7b8;
    animation:move 7s forwards ease infinite alternate-reverse;
    transition:ease 1s;
    border-radius: 50% 50% 50% 70%/50%  50% 70% 60%;
}
.circle3{
    font-size:14px;
    background:#13e3ae;
    animation:move 7s forwards ease infinite alternate-reverse;
    transition:ease 1s;
    border-radius: 50% 50% 50% 70%/50%  50% 70% 60%;
}

.circle1:hover{
   transform:translate(-40px,-20px);
   animation:none;
}
.circle1:hover ~ .circle3{
    transform:translate(40px,20px);
}
.circle2:hover ~ .circle3{
    transform:translate(40px,0px);
}
.circle2:hover{
    margin-left:50px;
}
.circle3:hover{
    transform:translate(40px,-20px);
}

@keyframes move{
    0%{
        border-radius: 45% 50% 55% 70%/50%  50% 70% 60%;
    }
    20%{
        border-radius: 60% 50% 60% 65%/43%  50% 70% 60%;
    }
    40%{
        border-radius: 55% 50% 50% 65%/50%  50% 70% 60%;
    }
    60%{
        border-radius: 45% 40% 50% 50%/35%  50% 70% 60%;
    }
    80%{
        border-radius: 50% 65% 60% 72%/57%  50% 70% 60%;
    }
    100%{
        border-radius: 45% 50% 55% 70%/50%  50% 70% 60%;
    }
}
@media (max-width:600px){
    .blobs{
        flex-direction:column;
    }
}

.overlay{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
    transition:opacity 0.4s ease-in-out;
    background:black;
    cursor:pointer;
    animation:move 7s forwards ease infinite alternate-reverse;
    border-radius: 50% 50% 50% 70%/50%  50% 70% 60%;

}

.contentb{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    text-align:center;
}

.contentb a{
    color:white;
}

.circle1:hover .overlay,
.circle2:hover .overlay,
.circle3:hover .overlay{
    opacity:0.6;
}

.wip{
    display:flex;
    justify-content:center;
    align-items:center;
}

.under{
    text-align:center;
}
